<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>this is home page</h1>
    <h3><%= 1 + 2 %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam esse et hic expedita voluptatum perspiciatis accusamus sapiente vero possimus consectetur, odio odit fuga sunt error quos deserunt delectus, similique quia.</p>
    <button>click me</button>
  </body>
</html>
